body{
    background-color: #F5F0DC;
    font-family: Helvetica, Arial, sans-serif;
    width: 940px;
    margin: auto;
}

#titulo{
    text-align: center;
}

h2{
    background:-webkit-linear-gradient(top, #9C8F67,#C7BE9B 30%);
    padding: 5px;
    color: #000000;
    border-radius:15px;
    border: 1px solid black;
}

#tb-nutrientes{
    border: 1px solid black;
    width: 40%;
    margin: auto;
}

#tb-nutrientes th{
    background-color: #F8EA6B;
}

#tb-nutrientes tr:nth-child(odd){
    background-color: #FFFFFF;
}

#tb-nutrientes tr:nth-child(even){
    background-color: #F8EAB3;
}

figure{
    background-color:white;
    width:400px;
    text-align:center;
    padding:15px;
    margin-bottom: 30px;
    font-family:'Comic Sans MS',cursive;
    border:1px solid black;
    box-shadow:5px 5px 3px rgba(0,0,0,0.7);
    -webkit-transform:rotate(-5deg);
}

nav {
    float: left;
    width: 200px;
}

nav ul{
    list-style:none;
}

nav ul li {
    background: #C7BE9B;
    padding:3px;
    margin-bottom:5px;
}

nav ul li:hover{
    background-color:#9C8F67;
}

nav ul li a{
	color: black;
	text-decoration: none;;
}

#conteudo {
    float:right;
    width:740px;
}

#banner{
    top: 0;
    right: 0;
    position:fixed;
}